@model MvcOnlineTicariOtomasyon.Models.Siniflar.Mesajlar

@{
    ViewBag.Title = "YeniMesaj";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Yeni Mesaj</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="mb-0" style="margin-top: 0;"><strong>Yeni Mesaj</strong></h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <a href="/CariPanel/GelenMesajlar/" class="btn btn-primary btn-block mb-3">Gelen Kutusu</a>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Mesaj Kategorileri</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-chevron-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item active">
                                <a href="/CariPanel/GelenMesajlar/" class="nav-link">
                                    <i class="fas fa-inbox text-success"></i> <strong>Gelen Kutusu</strong>
                                    <span class="badge bg-success float-right">@ViewBag.d1</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/CariPanel/GidenMesajlar/" class="nav-link">
                                    <i class="far fa-paper-plane text-info"></i> <strong>Gönderilen Mesajlar</strong>
                                    <span class="badge bg-info float-right">@ViewBag.d2</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-star text-warning"></i> <strong>Yıldızlı Mesajlar</strong>
                                    <span class="badge bg-warning float-right">0</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-ban text-danger"></i> <strong>Gereksiz Mesajlar</strong>
                                    <span class="badge bg-danger float-right">0</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-trash text-secondary"></i> <strong>Çöp Kutusu</strong>
                                    <span class="badge bg-secondary float-right">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Mesaj Filtreleri</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-chevron-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-exclamation-circle text-danger"></i> <strong>Önemliler</strong>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-gift text-warning"></i> <strong>Promosyonlar</strong>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-share-alt text-primary"></i> <strong>Sosyal Medya Mesajları</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title"><strong>Yeni İleti</strong></h3>
                    </div>
                    <form class="form-group" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <input class="form-control" name="Alici" placeholder="Alıcılar:">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="Konu" placeholder="Konu:">
                            </div>
                            <div class="form-group">
                                <textarea id="compose-textarea" placeholder="İçerik :" name="icerik" class="form-control" style="height: 300px"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- Summernote -->
    <script src="~/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote();
        })
    </script>
</body>
</html>
